<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('/assets/img/about-bg.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Create New Post</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <form action="/post/store" method="POST">
              <div class="form-floating">
                <label for="title">Title</label>
                <br />
                <input
                  class="form-control"
                  id="title"
                  type="text"
                  placeholder="Title"
                  name="title"
                />
              </div>

              <div class="form-floating">
                <label for="description">Description</label>
                <br />
                <textarea
                  class="form-control"
                  id="body"
                  style="height: 12rem"
                  name="body"
                ></textarea>
              </div>
              <br />

              <!-- Submit Button-->
              <button
                type="submit"
                class="btn btn-primary"
                id="sendMessageButton"
              >
                Send
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
